---
import { Image } from 'astro:assets';

// Eagerly load all images in the folder
const images = import.meta.glob('../assets/gallery-links/*', { eager: true });

const galleryItems = [
  { route: '/gallery/urban', name: 'Urban', file: '../assets/gallery-links/urban.webp' },
  { route: '/gallery/nature', name: 'Nature', file: '../assets/gallery-links/nature.webp' },
  { route: '/gallery/landscapes', name: 'Landscapes', file: '../assets/gallery-links/landscapes.webp' },
  { route: '/gallery/plants', name: 'Plants', file: '../assets/gallery-links/plants.webp' },
];
---


<div class="flow gallery-links-container">
  <h3 class="visually-hidden">Galleries</h3>

  <ul role="list" class="gallery-links">
    {galleryItems.map(({ route, name, file }) => (
      <li>
        <a href={route}>
          <Image src={images[file].default} alt={name} />
        </a>
        <a class="button" href={route}>{name}</a>
      </li>
    ))}
  </ul>
</div>

<style>
.gallery-links-container {
  container-type: inline-size;
}

.gallery-links {
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1180px;
  margin-inline: auto;
}

.gallery-links img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
</style>