---
import '../style.css';
import Header from '../components/Header.astro';
const { title } = Astro.props;
const currentYear = new Date().getFullYear();
const siteTitle = "Slllector Photography";
const pageTitle = title ? `${title} | ${siteTitle}` : siteTitle;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="base-layout">
		<Header />
		<main id="main-content">
    	<slot />
		</main>
		<footer>
				&copy; {currentYear} Slllector. All rights reserved.
		</footer>	
		<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js" defer></script>
		<script type="module" src="/scripts/init-lightbox.js"></script>
	</body>
</html>